  <fa-app class="full-screen" fa-perspective="{{modPerspective()}}">
    <fa-modifier fa-size="[undefined, 200]" fa-perspective="perspective" fa-origin="[.5, .5]" fa-rotate="getRotate()" fa-translate="[0,200,100]">
    <!-- <fa-modifier fa-size="[undefined, 200]" fa-transform="transform"> -->
      <fa-surface fa-background-color="'blanchedalmond'"></fa-surface>
      <fa-modifier perspective="perspective" fa-rotate-y="3.14159265" fa-origin="[.5, .5]">
        <fa-surface fa-background-color="'red'"></fa-surface>
      </fa-modifier>
    <!-- </fa-modifier> -->
    </fa-modifier>
  </fa-app>
